body{
    margin: 0;
    color: white;
}
#container{
    display: grid;
    row-gap: 1rem;
    grid-template-areas: 
        "mars       mars          mars"
        "oMarsu     slika         prijaviSe"
        "oMarsu     slika         prijaviSe"
        "galerija   galerija      galerija" ;
 }

 #mars {
    padding-top: 2rem; 
    grid-area: mars;
    min-width: 300px;
    letter-spacing: 1rem;
    margin-right: -1rem;
    justify-self: center;
    align-self: center;
    font-size: 6rem;
    opacity: 0;
    animation: mars 10s 0.5s forwards;	
   
}
a:link, a:visited {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.534);
    text-decoration: none;
}
  
a:hover, a:active {
    color:white;
}

.linkovi {
    opacity: 0;
    align-self: center;

}

.oMarsu {
    grid-area: oMarsu;
    justify-self: right;
    animation: mars 10s 1.5s forwards;	
}

.galerija {
    grid-area: galerija;
    justify-self: center;
    animation: mars 10s 2s forwards;	
}
.prijaviSe {
    grid-area: prijaviSe;
    padding-top: 2rem;
    justify-self: left;
    animation: mars 10s 2.5s forwards;	
}
@keyframes mars {
    0%   {opacity:0}
    100%  {opacity: 1}
}

#slika {
    grid-area: slika;
    max-width: 50%;
    justify-self: center;
    align-self: center;
    opacity: 0;
    animation: mars 10s 1s forwards;	   
}
.stars, .twinkling{
    position:absolute;
    width:100vw;
    height:100vh;
}
  
.stars {
    background: black url(img/stars.png);
    z-index:-2;
}
  
.twinkling{
    background: url(img/twinkling.png);
    z-index:-1;
    animation: twinkling 300s linear;
}
@keyframes twinkling {
      0% {background-position:0 0;}
      100% {background-position:-5000px 1000px;}
  }
img{
    transition: transform 2s ease-in-out;
}  
img:hover {
    transform: rotate(360deg);
}

@media (max-width: 700px){
    #container {
        grid-template-areas: 
        "mars"
        "slika"
        "oMarsu"
        "galerija"
        "prijaviSe"  ;     
    }
    .linkovi  {
        justify-self: center;
        align-items: center;
    } 
    #slika {
        max-width: 40%;
        margin:auto;
    }
  
}
  